{% extends 'nav.html' %}
{% load static %}
{% block titulo %} {% endblock %}



{% block contenido %} 



  <body class="g-sidenav-show bg-gray-200">
      <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
          <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
          <div class="row gx-4 mb-2">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="../assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">
                  {{driver.nombre}}  {{driver.apellidos}} ({{driver.abreviatura}})
                </h5>
                <p class="mb-0 font-weight-normal text-sm">
                  Formula One Driver / Piloto de Fórmula Uno
                </p>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-sm-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <h6 class="mb-0">Ficha Técnica</h6>
                </div>
                <div class="card-body p-3">
                  <h6 class="text-uppercase text-body text-xs font-weight-bolder">DATOS PERSONALES</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nombre:</strong> &nbsp; {{driver.nombre}}</li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Apellido:</strong> &nbsp; {{driver.apellidos}}</li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nacionalidad:</strong> &nbsp; {{driver.nacionalidad}}</li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Fecha de nacimiento:</strong> &nbsp; {{driver.fecha_nacimiento}}</li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Más información:</strong> <a href="{{driver.enlace}}"> Enlace para obtener más información sobre el piloto </a></li>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <div class="row">
                      <div class="col-md-8 d-flex align-items-center">
                        <h6 class="text-uppercase text-body text-xs font-weight-bolder">estadísticas básicas</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-3">
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                      <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Número de carreras disputadas:</strong> &nbsp; {{stats.0}}</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Número de victorias:</strong> &nbsp; {{stats.1}}</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Número de carreras a Sprint disputadas:</strong> &nbsp; {{stats.2}}</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Número de victorias en carreras a Sprint:</strong> &nbsp; {{stats.3}}</li>
                      <li class="list-group-item border-0 ps-0 pb-0">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-plain h-100">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-category">Total Tendencias: </h5>
                      <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{total}}</h3>
                      <h5 class="card-category">Media de tendencias: </h5>
                      <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{media}}</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="chartLinePurple">
                          
                        </canvas>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="card card-plain h-100">
                <div class="card card-chart">
                  <div class="card-header">
                    <h5 class="card-category">Total Tendencias: </h5>
                    <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{total}}</h3>
                    <h5 class="card-category">Media de tendencias: </h5>
                    <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{media}}</h3>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="sectores">
                        
                      </canvas>
                      
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="{% static '/js/core/popper.min.js'%}"></script>
    <script src="{% static '/js/core/bootstrap.min.js'%}"></script>
    <script src="{% static '/js/plugins/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static '/js/plugins/smooth-scrollbar.min.js'%}"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static '/js/material-dashboard.min.js'%}"></script>

    <script>

     

      meses = {};
      meses[1] = "enero";
      meses[2] = "febrero";
      meses[3] = "marzo";
      meses[4] = "abril";
      meses[5] = "mayo";
      meses[6] = "junio";
      meses[7] = "julio";
      meses[8] = "agosto";
      meses[9] = "septiembre";
      meses[10] = "octubre";
      meses[11] = "noviembre";
      meses[12] = "diciembre";

      primer_mes = {{x}}
      let data_x = [];
    
      for (let i = primer_mes; i <= 12 ; i++) {
    
        data_x.push(meses[i]);
      }

      if (primer_mes+5 > 12) {
        for (let i = 1; i < primer_mes+5-12; i++) {
          data_x.push(meses[i]);
        }
      }
      
      
      const data = {
        labels: data_x,
        datasets: [
          {
            label: 'Tendencia',
            data: {{y}},
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }
        ]
      };
      
      const config = {
        type: 'line',
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      };
      
      const myChart = new Chart(
        document.getElementById('chartLinePurple'),
        config
      );
      
      
    </script>
    
  </body>

{% endblock%}



