{% extends 'nav.html' %}


{% block titulo %} Listado de carreras de la F1 {% endblock %}



{% block contenido %} 

    <form id="formulario" method="post" action=''>{% csrf_token %}
        <fieldset>
            <legend>B&uacute;squeda de Carreas por nombre de Gran Premio o por año</legend>
            {{formulario}}
            <BR><BR>

            <input type='submit'  value='Realizar B&uacute;squeda'/>
        </fieldset>
    </form>

    {% if search %}
        <h2> Listado de carreras de F1 filtradas por nombre de Gran Premio o temporada </h2>
    {% else %}
        <h2> En este listado se muestran las carreras de la F1 que se han llevado a cabo históricamente en la competición. </h2>
    {% endif %}

    {% if c %}
            <dl>
                {% for i in c %}
                    <a href="/races/{{i.0}}"><dd>{{i.1}}, ({{i.2}})</dd></a>
                {% endfor %}
            </dl>
        {% else %}
            <p>No hay carreras que coincidan con la búsqueda</p>
        {% endif %}

{% endblock %}