{% extends 'nav.html' %}
{% load static %}
{% block titulo %}{% endblock %}



{% block contenido %} 

    <body class="g-sidenav-show bg-gray-200">
        <div class="container-fluid px-2 px-md-4">
          <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://estaticos-cdn.elperiodico.com/clip/94dad330-98f6-4d29-a27b-fb0874188e06_alta-libre-aspect-ratio_default_0.jpg');">
            <span class="mask  bg-gradient-2 opacity-6"></span>
          </div>
          <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
              <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                  <img src="../static/images/monaco.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                </div>
              </div>
              <div class="col-auto my-auto">
                <div class="h-100">
                  <h5 class="mb-1">
                    {{c.nombre}} ({{c.nombre_referencia}})
                  </h5>
                  <p class="mb-0 font-weight-normal text-sm">
                    Formula One Team / Escudería de Fórmula Uno
                  </p>
                </div>
              </div>
            </div>
            
            {% if c %}
            <div class="row">
              <div class="col-sm-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Ficha Técnica</h6>
                  </div>
                  <div class="card-body p-3">
                    <h6 class="text-uppercase text-body text-xs font-weight-bolder">FICHA TÉCNICA</h6>
                    <ul class="list-group">
                      <li class="list-group-item border-0 px-0">
                        <div class="form-check form-switch ps-0">
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nombre:</strong> &nbsp; {{c.nombre}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Referencia:</strong> &nbsp; {{c.nombre_referencia}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Localización:</strong> &nbsp; {{c.localizacion}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">País:</strong> &nbsp; {{c.pais}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Latitud:</strong> &nbsp; {{c.latitud}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Altura:</strong> &nbsp; {{c.altura}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Longitud:</strong> &nbsp; {{c.longitud}}</li>
                          <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Más información:</strong> <a href="{{c.enlace}}"> Enlace para obtener más información sobre el piloto </a></li>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              
            {%endif%}
      <!--   Core JS Files   -->
    
      <script src="{% static '/js/dataanalytics/driver/profile_driver.js'%}"></script>
     
      
    </body>
    
        
    
{% endblock %}