{% extends 'master.html' %}

{% block titulo %} Ficha completa del piloto {{driver.apellidos}},  {{driver.nombre}}{% endblock %}



{% block contenido %} 

    
		
    {% if driver %}
        <p>Nombre: {{driver.nombre}} || Abreviatura: {{driver.abreviatura}}</p>
        <p>Apellidos: {{driver.apellidos}}</p>
        <p>Fecha de nacimiento: {{driver.fecha_nacimiento}}</p>
        <p>Nacionalidad: {{driver.nacionalidad}}</p>
        <p>Más información: <a href="{{driver.enlace}}"> Enlace para obtener más información sobre el piloto </a></p>
        <hr>
		<h4>Ficha técnica:</h4>
		<p>Número de carreras disputadas: {{stats.0}}</p>	
        <p>Número de victorias: {{stats.1}}</p>
        <p>Número de carreras a Sprint disputadas: {{stats.2}}</p>	
        <p>Número de victorias en carreras a Sprint: {{stats.3}}</p>    
		<hr>
	{% endif %}
    

{% endblock %}