{% extends 'master.html' %}

{% block titulo %} Inicio {% endblock %}



{% block contenido %} 

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-2">
				{{race.1}}
			  </div>
			  <div class="col-md-auto">
				<div class="card" style="width: 30rem;">
					<img alt="Imagen del circuito de la próxima carrera" src ="{{race.7}}" class="card-img-top" alt="...">
					<div class="card-body">
					<p class="card-text"> {{race.5}} </p>
					<p class="card-text"> {{race.2}} - {{race.3}} ({{race.4}})</p>
					</div>
				</div>
			  </div>
			  <div class="col col-lg-2">
				{{race.6}}
			  </div>
		
		
		
		<h2> Autores </h2>
		<h4>Moreno Granado, Iván</h4>
		<h4>Universidad de Sevilla</h4>	    
		<hr>
	</div>
{% endblock %}