{% extends 'nav.html' %}
{% load static %}
{% block titulo %} {% endblock %}



{% block contenido %} 
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2"> Próxima carrera: {{race.5}}</h1>
                                <p class="lead fw-normal text-white-50 mb-4"> El gran premio se dará en el fin de semana del {{race.2}} al {{race.3}} de {{race.4}}</p>
                                <p class="lead fw-normal text-white-50 mb-4"> ¿Quieres conocer más? </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-danger btn-lg px-4 me-sm-3" href="#features">Empezar</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="#!">Saber más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{race.7}}" alt="Imagen del circuito de la próxima carrera" /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div id="section" class="col-lg-4 mb-5 mb-lg-5"><h2 class="fw-bolder mb-0">Un acceso gratuito a un gran volumen de datos.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="subsection-image"><img class="image-section" alt="Imagen que muestra el acceso a datos" src="{% static '/images/acceso-datos.png' %}"> </img> </div>
                                    <h2 class="h5">Para los más curiosos...</h2>
                                    <p class="mb-0">Acceso a datos históricos de la competición, como carreras, escuderías o pilotos con estadísticas básicas y visuales de las diferentes trayectorias.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="subsection-image"><img class="image-section" alt="Imagen que muestra la automatización" src="{% static '/images/auto2.png' %}"> </img> </div>
                                    <h2 class="h5">Automatización y actualización de los datos</h2>
                                    <p class="mb-0">El sistema actualiza los nuevos datos de forma automática, con el objetivo de poseer un alto porcentaje de uso en el futuro.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="subsection-image"><img class="image-section" alt="Imagen que muestra estadísticas" src="{% static '/images/stats.png' %}"> </img> </div>
                                    <h2 class="h5">Seguimiento en Twitter</h2>
                                    <p class="mb-0">Capacidad de análisis de impacto en Twitter de cada carrera en las escuderías y pilotos. Descubre la evolución de cada piloto.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="subsection-image"><img class="image-section" alt="Imagen que muestra un algoritmo para predicción" src="{% static '/images/ia.png' %}"> </img></div>
                                    <h2 class="h5">¿Quién ganará la próxima carrera?¿En qué tiempo se dará la vuelta rápida?</h2>
                                    <p class="mb-0">Son algunas de las predicciones que F1DataAnalytics tomará dependiendo de las condiciones que le demos de entrada a nuestro algoritmo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">“La información es el aceite del Siglo  XXI, y la analítica es el motor de combustión.” </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        Peter Sondergaard
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Vicepresidente de Gartner
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Sobre este trabajo</h2>
                                <p class="lead fw-normal text-muted mb-5">Esta aplicación se ha creado como resultado del Trabajo Fin de Grado presentado para la Universidad de Sevilla en el año 2023.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-6 mb-5">
                                <img class="card-img-top" src="{% static 'images/logo2.png'%}" alt="Logo cuadrado de la aplicación" />
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-3">Trabajo realizado por Iván Moreno Granado</h5>
                                </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; F1DataAnalytics, 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacidad</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Términos</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contacto</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{%endblock%}

