{% load static %} 
<!DOCTYPE html>
<html lang='es'>
  <head>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>F1DataAnalytics</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'images/f1icon.ico' %} " />
            <!-- Bootstrap icons-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="{% static '/css/styles.css'%}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
            <!--     Fonts and icons     -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
            <!-- Nucleo Icons -->
            <link href= "{% static '/css/nucleo-icons.css'%}" rel="stylesheet" />
            <link href="{% static  '/css/nucleo-svg.css'%}" rel="stylesheet" />
            <!-- Font Awesome Icons -->
            <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
            <!-- Material Icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
            <!-- CSS Files -->
            <link id="pagestyle" href="{% static '/css/material-dashboard.css'%}" rel="stylesheet" />
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
        </head>
        <body class="d-flex flex-column h-100">
            <main class="flex-shrink-0">
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container px-5">
                        <a class="navbar-logo" href="#">
                            <img class="navbar-logo" alt="Logotipo de la aplicación" src="{% static '/images/logobarra.png' %}" >
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="about.html">Sobre</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Carga de datos
                                    </a>
                                    <div>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="/populate">Poblar Base de Datos - Acceso Restringido</a></li>
                                            <li><a class="dropdown-item" href="/loadData">Cargar los datos de la F1</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Búsquedas
                                    </a>
                                    <div>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="/drivers?page=1">Listado de pilotos</a></li>
                                            <li><a class="dropdown-item" href="/constructors">Listado de escuderías</a></li>
                                            <li><a class="dropdown-item" href="/circuits">Listado de circuitos</a></li>
                                            <li><a class="dropdown-item" href="/races">Listado de carreras</a></li>
                                            <li><a class="dropdown-item" href="/dashboard/">Dashboard</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
 		<h1 >{% block titulo %} {% endblock %}</h1>

		{% block contenido %} {% endblock %}
  </body>
</html>