{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="{% static 'images/f1icon.ico' %} " />
  <title>
    F1DataAnalytics Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{% static 'css/dashboard/nucleo-icons.css'%}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'css/dashboard/black-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static 'css/dashboard/control/demo.css" rel="stylesheet'%}" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            F1
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Estadísticas F1
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="tim-icons icon-spaceship"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="active">
            <a href={% url 'dashboard' %}>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/dashboard/twitter/10">
              <i class="tim-icons icon-sound-wave"></i>
              <p>Twitter</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Tendencias</p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Popularidad</p>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard' %}">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Estadísticas</p>
            </a>
          </li>
          <li>
            <a href="{% url 'standings' %}">
              <i class="tim-icons icon-trophy"></i>
              <p>Clasificación</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="tim-icons icon-atom"></i>
              <p>Predicciones</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="row">
              <div class="col col-md-12">
                <img class="navbar-logo" alt="Logotipo de la aplicación" src="{% static '/images/logobarra.png' %}" />
              </div>
            </div>
          </div>
          
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="pestanha">
            <button id="btn1">Pilotos</button>
            <button id="btn2">Equipos</button>
          </div>
            <div id="contenido_pilotos">      
              <div class="row">
                <div class="col-12">
                  <div class="card card-chart">
                    <div class="card-header ">
                      <div class="row">
                        <div class="col-sm-6 text-left">
                          <h5 class="card-category">Estadísticas principales:</h5>
                          <h2 class="card-title">Pilotos:</h2> <h3> {{driver_1}} vs {{driver_2}}</h3>
                          
                          <form method="POST"> 
                            {% csrf_token %}
                            <select name="driver1" class="form-select" aria-label="Default select example">
                              <option selected>Selecciona un equipo</option>
                              {% for piloto in ad %}
                              <option  value={{piloto.1}}>{{piloto.1}},{{piloto.0}}</option>
                              {% endfor %}
                            </select>
                            
                            <select name="driver2" class="form-select" aria-label="Default select example">
                              <option selected>Selecciona el piloto competidor</option>
                              {% for piloto in ad %}
                              <option  value={{piloto.1}}>{{piloto.1}},{{piloto.0}}</option>
                              {% endfor %}
                            </select>
                            <button type="submit">Enviar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="starProgresschart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-category">Temporada actual</h5>
                      <h3 class="card-title"> Progreso de temporada</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="sectorProgresschart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-category">Tendencia en Twitter</h5>
                      <h3 class="card-title">Estadísticas en Twitter de los dos pilotos por semanas</h3>
                      <div class="">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                          <label class="btn btn-sm btn-primary btn-simple active" id="0">
                            <input type="radio" name="options" checked>
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Likes</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-single-02"></i>
                            </span>
                          </label>
                          <label class="btn btn-sm btn-primary btn-simple" id="1">
                            <input type="radio" class="d-none d-sm-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Retweets</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-gift-2"></i>
                            </span>
                          </label>
                          <label class="btn btn-sm btn-primary btn-simple" id="2">
                            <input type="radio" class="d-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Seguidores</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-tap-02"></i>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="twitterprogresschar"></canvas>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="card ">
                    <div class="card-header">
                      <h4 class="card-title"> Estadísticas de temporada</h4>
                    </div>
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                Comparativa
                              </th>
                              <th>
                                {{driver_1}}
                              </th>
                              <th>
                                {{driver_2}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Carreras disputadas
                              </td>
                              <td>
                                {{comparations.season_races1}}
                              </td>
                              <td>
                                {{comparations.season_races2}}
                              </td>
                            <tr>
                              <td>
                                Victorias
                              </td>
                              <td>
                                {{comparations.season_wins1}}
                              </td>
                              <td>
                                {{comparations.season_wins2}}
                              </td>
                              <tr>
                                <td>
                                  Mejor posición lograda
                                </td>
                                <td>
                                  {{comparations.max_pos1}}
                                </td>
                                <td>
                                  {{comparations.max_pos2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Peor posición lograda
                                </td>
                                <td>
                                  {{comparations.min_pos1}}
                                </td>
                                <td>
                                  {{comparations.min_pos2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Posición habitual
                                </td>
                                <td>
                                  {{comparations.avg_pos1}}
                                </td>
                                <td>
                                  {{comparations.avg_pos2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Puntos totales
                                </td>
                                <td>
                                  {{comparations.total_puntuation1}}
                                </td>
                                <td>
                                  {{comparations.total_puntuation2}}
                                </td>
                              <tr>
                                <td>
                                  Media de puntos
                                </td>
                                <td>
                                  {{comparations.avg_puntuation1}}
                                </td>
                                <td>
                                  {{comparations.avg_puntuation2}}
                                </td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card ">
                    <div class="card-header">
                      <h4 class="card-title"> Estadísticas generales</h4>
                    </div>
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                Comparativa
                              </th>
                              <th>
                                {{driver_1}}
                              </th>
                              <th>
                                {{driver_2}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Carreras disputadas
                              </td>
                              <td>
                                {{comparations.num_carreras1}}
                              </td>
                              <td>
                                {{comparations.num_carreras2}}
                              </td>
                            <tr>
                              <td>
                                Victorias
                              </td>
                              <td>
                                {{comparations.num_victorias1}}
                              </td>
                              <td>
                                {{comparations.num_victorias2}}
                              </td>
                              <tr>
                                <td>
                                  Carreras no acabadas
                                </td>
                                <td>
                                  {{comparations.num_no_finish1}}
                                </td>
                                <td>
                                  {{comparations.num_no_finish2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Mayor número de victorias en una temporada
                                </td>
                                <td>
                                  {{comparations.max_wins_driver1}} (temporada {{comparations.max_wins_season1}})
                                </td>
                                <td>
                                  {{comparations.max_wins_driver2}} (temporada {{comparations.max_wins_season2}})
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Posición habitual
                                </td>
                                <td>
                                  {{comparations.avg_global_pos1}} ({{comparations.avg_count1}} veces)
                                </td>
                                <td>
                                  {{comparations.avg_global_pos2}} ({{comparations.avg_count2}} veces)
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Puntos totales
                                </td>
                                <td>
                                  {{comparations.global_puntuation1}}
                                </td>
                                <td>
                                  {{comparations.global_puntuation2}}
                                </td>
                              <tr>
                                <td>
                                  Media de puntos
                                </td>
                                <td>
                                  {{comparations.avg_total_puntuation1}}
                                </td>
                                <td>
                                  {{comparations.avg_total_puntuation2}}
                                </td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <div class="row">  
          <div id="contenido_equipos" style="display='none';">      
              <div class="row">
                <div class="col-12">
                  <div class="card card-chart">
                    <div class="card-header ">
                      <div class="row">
                        <div class="col-sm-6 text-left">
                          <h5 class="card-category">Estadísticas principales:</h5>
                          <h2 class="card-title">Equipos:</h2> <h3> {{team_1}} vs {{team_2}}</h3>
                          
                          <form method="POST"> 
                            {% csrf_token %}
                            <div class="row">
                              <select name="team1" class="form-select" aria-label="Default select example">
                                <option selected>Selecciona un equipo</option>
                                {% for t in teams %}
                                <option  value={{t}}>{{t}}</option>
                                {% endfor %}
                              </select>
                              
                              <select name="team2" class="form-select" aria-label="Default select example">
                                <option selected>Selecciona el equipo competidor</option>
                                {% for t in teams %}
                                <option  value={{t}}>{{t}}</option>
                                {% endfor %}
                              </select>
                              <button type="submit">Enviar</button>
                            </div>
                            
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="starProgressTeamchart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-category">Análisis de fiabilidad</h5>
                      <h3 class="card-title"> Número de abandonos por temporada</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="fiabilityChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-category">Tendencia en Twitter</h5>
                      <h3 class="card-title">Estadísticas en Twitter de ambos equipos las últimas dos semanas</h3>
                      <div class="">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                          <label class="btn btn-sm btn-primary btn-simple active" id="teamLikes">
                            <input type="radio" name="options" checked>
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Likes</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-single-02"></i>
                            </span>
                          </label>
                          <label class="btn btn-sm btn-primary btn-simple" id="TeamRetweets">
                            <input type="radio" class="d-none d-sm-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Retweets</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-gift-2"></i>
                            </span>
                          </label>
                          <label class="btn btn-sm btn-primary btn-simple" id="TeamSeguidores">
                            <input type="radio" class="d-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Seguidores</span>
                            <span class="d-block d-sm-none">
                              <i class="tim-icons icon-tap-02"></i>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="twitterTeamprogresschar"></canvas>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="card ">
                    <div class="card-header">
                      <h4 class="card-title"> Estadísticas de temporada</h4>
                    </div>
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                Comparativa
                              </th>
                              <th>
                                {{team_1}}
                              </th>
                              <th>
                                {{team_2}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Carreras disputadas
                              </td>
                              <td>
                                {{comparations.season_races1}}
                              </td>
                              <td>
                                {{comparations.season_races2}}
                              </td>
                            <tr>
                              <td>
                                Victorias
                              </td>
                              <td>
                                {{team_comparations.season_wins1}}
                              </td>
                              <td>
                                {{team_comparations.season_wins2}}
                              </td>
                              <tr>
                                <td>
                                  Mejor posición lograda
                                </td>
                                <td>
                                  {{team_comparations.max_pos1}}
                                </td>
                                <td>
                                  {{team_comparations.max_pos2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Peor posición lograda
                                </td>
                                <td>
                                  {{team_comparations.min_pos1}}
                                </td>
                                <td>
                                  {{team_comparations.min_pos2}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Puntos totales
                                </td>
                                <td>
                                  {{team_comparations.total_puntuation1}}
                                </td>
                                <td>
                                  {{team_comparations.total_puntuation2}}
                                </td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card ">
                    <div class="card-header">
                      <h4 class="card-title"> Estadísticas generales</h4>
                    </div>
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                Comparativa
                              </th>
                              <th>
                                {{team_1}}
                              </th>
                              <th>
                                {{team_2}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Carreras disputadas
                              </td>
                              <td>
                                {{team_comparations.num_carreras1}}
                              </td>
                              <td>
                                {{team_comparations.num_carreras2}}
                              </td>
                            <tr>
                              <td>
                                Victorias
                              </td>
                              <td>
                                {{team_comparations.num_victorias1}}
                              </td>
                              <td>
                                {{team_comparations.num_victorias2}}
                              </td>
                              <tr>
                                <td>
                                  Puntos totales
                                </td>
                                <td>
                                  {{team_comparations.global_puntuation1}}
                                </td>
                                <td>
                                  {{team_comparations.global_puntuation2}}
                                </td>
                              <tr>
                                <td>
                                  Media de puntos
                                </td>
                                <td>
                                  {{team_comparations.avg_total_puntuation1}}
                                </td>
                                <td>
                                  {{team_comparations.avg_total_puntuation2}}
                                </td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
      </div>
      <footer class="footer">
        <div class="container px-5">
          <div class="row align-items-center justify-content-between flex-column flex-sm-row">
              <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; F1DataAnalytics, 2023</div></div>
              <div class="col-auto">
                  <a class="link-light small" href="#!">Privacidad</a>
                  <span class="text-white mx-1">&middot;</span>
                  <a class="link-light small" href="#!">Términos</a>
                  <span class="text-white mx-1">&middot;</span>
                  <a class="link-light small" href="#!">Contacto</a>
              </div>
          </div>
      </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Color de la barra</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">MODO LUMINOSO</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">MODO OSCURO</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- DATOS DE LA GRÁFICA DE SECTORES (PROGRESO DE LA TEMPORADA)-->
  <div id="json_data_progress" data-json='{{ json_data_progress |safe }}'></div>


  <!-- DATOS DE LA GRÁFICA EVOLUTIVA COMPARACIÓN 2 PILOTOS -->
  <div id="json_payload_driver1" data-json='{{ json_payload_driver1 |safe }}'></div>
  <div id="json_payload_driver2" data-json='{{ json_payload_driver2 |safe }}'></div>
  <div id="json_races_list" data-json='{{ json_races_list |safe }}'></div>
  <div id="json_names_races" data-json='{{ json_names_races |safe }}'></div>
  <div id="json_driver_name" data-json='{{ json_driver_name |safe }}'></div>
  <div id="json_driver_name2" data-json='{{ json_driver_name2 |safe }}'></div>
  
  <!-- DATOS DE LA GRÁFICA EVOLUTIVA TWITTER COMPARACIÓN 2 PILOTOS -->
  <div id="json_twitter_likes1" data-json='{{ json_twitter_likes1 |safe }}'></div>
  <div id="json_twitter_rts1" data-json='{{ json_twitter_rts1 |safe }}'></div>
  <div id="json_twitter_seguidores1" data-json='{{ json_twitter_seguidores1 |safe }}'></div>

  <div id="json_twitter_likes2" data-json='{{ json_twitter_likes2 |safe }}'></div>
  <div id="json_twitter_rts2" data-json='{{ json_twitter_rts2 |safe }}'></div>
  <div id="json_twitter_seguidores2" data-json='{{ json_twitter_seguidores2 |safe }}'></div>
  
  <!-- DATOS DE LA GRÁFICA EVOLUTIVA COMPARACIÓN 2 CONSTRUCTORES -->
  <div id="json_payload_team1" data-json='{{ json_payload_team1 |safe }}'></div>
  <div id="json_payload_team2" data-json='{{ json_payload_team2 |safe }}'></div>
    
  <div id="json_team1_name" data-json='{{ json_team1_name |safe }}'></div>
  <div id="json_team2_name" data-json='{{ json_team2_name |safe }}'></div>
  
  <!-- DATOS DE LA GRÁFICA EVOLUTIVA TWITTER COMPARACIÓN 2 CONSTRUCTORES -->
  <div id="json_twitter_likes_equipos1" data-json='{{ json_twitter_likes_equipos1 |safe }}'></div>
  <div id="json_twitter_rts_equipos1" data-json='{{ json_twitter_rts_equipos1 |safe }}'></div>
  <div id="json_twitter_seguidores_equipos1" data-json='{{ json_twitter_seguidores_equipos1 |safe }}'></div>

  <div id="json_twitter_likes_equipos2" data-json='{{ json_twitter_likes_equipos2 |safe }}'></div>
  <div id="json_twitter_rts_equipos2" data-json='{{ json_twitter_rts_equipos2 |safe }}'></div>
  <div id="json_twitter_seguidores_equipos2" data-json='{{ json_twitter_seguidores_equipos2 |safe }}'></div>

  <!-- DATOS DE LA GRÁFICA EVOLUTIVA COMPARACIÓN 2 CIRCUITOS -->

  <div id="json_abandonos_t1" data-json='{{ json_abandonos_t1 |safe }}'></div>
  <div id="json_years_t1" data-json='{{ json_years_t1 |safe }}'></div>
  <div id="json_abandonos_t2" data-json='{{ json_abandonos_t2 |safe }}'></div>
  <div id="json_years_t2" data-json='{{ json_years_t2 |safe }}'></div>
  <!--   Core JS Files   -->
  <script src="{% static '/js/dashboard/core/jquery.min.js'%}"></script>
  <script src="{% static '/js/dashboard/core/popper.min.js'%}"></script>
  <script src="{% static '/js/dashboard/core/bootstrap.min.js'%}"></script>
  <script src="{% static '/js/dashboard/plugins/perfect-scrollbar.jquery.min.js'%}"></script>
    
  <!-- Chart JS -->
  <script src="{% static '/js/dashboard/plugins/chartjs.min.js'%}"></script>
  
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/js/dashboard/black-dashboard.min.js'%}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'js/dashboard/control/stats.js'%}"></script>
  
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>